* {
    box-sizing: border-box;
    overflow: auto;
}
body {
    margin: 0;
    padding: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #edc06a;
}
.nav {
    padding-top: 10em;
    padding-bottom: 10em;
    display: flex;
    justify-content: center;
    align-content: center;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-decoration: underline #f1d4a1;
}
h2 {
    background-color: #f1d4a1;
}
li {
    padding: 0.25em;
}
hr {
    border: 1px dashed #303030;
}
footer {
    position: absolute;
    bottom: 1em;
    width: 100%;
}
.logo {
    font-size: 5em;
    text-decoration: underline #f1d4a1;
}
.main-link {
    font-size: 2em;
    display: flexbox;

}
.support-link {
    font-size: 1.25em;
    display: inline-flex;
}
.sub-link {
    justify-content: space-between;
    align-content: space-between;
    padding: 0.5em;
    margin: 0.1em;
    background-color: #f1d4a1;
    border-radius: 1em;
}

/* Section: for other pages besides the main homepage */
/* About.html */
.content {
    padding: 4em;
}

/* Writing.html */
.writing-categories {
    background-color: #f1d4a1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.writing-links {
    height: 100%;
    border: 1px solid;
    padding: 5rem 4.5rem;
    margin: 0.25em;
    font-size: 2em;
    align-content: center;
}
.novels {
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #edc06a, #edc06a 50%, #f1d4a1 50%);
    background-size: 10px 10px;
}
.shorts {
    background-image:  radial-gradient(#edc06a 3px, transparent 3px), radial-gradient(#edc06a 1.5px, #f1d4a1 1px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
.poetry {
    background: repeating-linear-gradient( -45deg, #edc06a, #edc06a 5px, #f1d4a1 5px, #f1d4a1 25px );
}


/* Section: for the display changes for responsiveness */
/* For tablets */
@media (max-width: 768px) {
    /* Tablet-specific styles go here */
    .writing-links {
        margin: 0.15em;
        padding: 1.5em 1em;

    }
}

/* For large mobile devices */
@media (max-width: 620px) {
    .logo {
        font-size: 2.5em;
    }
    .creative, .learning, .about, .shop {
        font-size: 1.5em;
    }
    .sub-link {
        font-size: 0.8em;
    }
    ul {
        text-align: center;
    }
    li {
        display: inline-block;
        width: 10em;
        
    }
    footer li:not(:last-child) {
        border-left: 2px solid black;
        border-radius: 5%;
    }

    .writing-categories {
        flex-direction: column;
    }
    .writing-links {
        padding: 4em 2em;
    }
    /* Adjust other elements as needed */
}

/* For small mobile devices */
@media (max-width: 480px) {
    /* Small mobile-specific styles go here */
}

/* Footer on Desktop */
@media (min-width: 620px) {
    footer {
        padding: 0.2em;
    }
    ul {
        text-align: center;
    }
    li {
        display: inline-block;
    }
    footer li:not(:last-child) {
        border-right: 2px solid black;
    }
}