/* Cover Photo */
.episode-cover {
  border: var(--text-color) 1px solid;
}


/* Audio Player Controls */
.audio-player-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: var(--text-color) 2px solid;
  padding: 1em;
  box-shadow: 2px 2px var(--text-color);
}

#play-pause,
#volume-control,
#playback-speed,
#seek-bar,
#current-time,
#duration {
 padding: 5px;
 font-size: 14px;
}

#play-pause {
    background-color: var(--text-color);
    color: var(--background-color) ;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
}

#volume-control {
  width: 4.5rem;
}
#seek-bar {
  flex: auto;
  min-width: 120px;
  max-width: 800px;
}

/* Video Player Controls */
.video-player-container {
  width: 100%;
  max-width: 900px;
  margin: 1em;
}
.progress {
  display: flex;
  flex-grow: 1;
  align-items: center;
  max-width: 480px;
  border: #000000 1px solid;
  padding: 15px;
  gap: 10px;
}
.progress_filled {
  display: block;
  width: 480px;
}
#toggleButton {
    background-color: var(--text-color);
    color: var(--background-color) ;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
}

/*Trancript Controls Styling*/
.transcript-toggle-btn {
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
}
/* Transcript Styling */
.timestamp {
border: 1px solid var(--text-color);
padding: 0 0.5em;
margin: 3px;
}

/* CROSS-BROWSER COMPATABILITY - START */
/* Cross Browswer Compatability with Media Players */
/* Removes Default Audio Player Styling Across All Browsers */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
/* MEDIA PLAYER STYLING */
/* MEDIA PLAYER STYLING */

input[type=range]#seek-bar,
input[type=range]#video-progress {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]#seek-bar:focus;
input[type=range]#video-progress:focus {
  outline: none;
}
input[type=range]#seek-bar::-webkit-slider-runnable-track,
input[type=range]#video-progress::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--btn-background-color);
  border-radius: 1.3px;
  border: 0.2px solid var(--text-color);
}
input[type=range]#seek-bar::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: var(--text-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]#seek-bar:focus::-webkit-slider-runnable-track,
input[type=range]#video-progress:focus::-webkit-slider-runnable-track {
  background: var(--btn-background-color);
}
input[type=range]#seek-bar::-moz-range-track,
input[type=range]#video-progress::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--btn-bg-color);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]#seek-bar::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: var(--text-color);
  cursor: pointer;
}
input[type=range]#seek-bar::-ms-track,
input[type=range]#video-progress::-ms-track
 {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]#seek-bar::-ms-fill-lower,
input[type=range]#video-progress::-ms-fill-lower {
  background: var(--btn-background-color);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]#seek-bar::-ms-fill-upper,
input[type=range]#video-progress::-ms-fill-upper {
  background: var(--btn-background-color);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]#seek-bar::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: var(--btn-bg-color);
  cursor: pointer;
}
input[type=range]#seek-bar:focus::-ms-fill-lower,
input[type=range]#video-progress:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]#seek-bar:focus::-ms-fill-upper,
input[type=range]#video-progress:focus::-ms-fill-upper {
  background: #367ebd;
}

/* VOLUME CONTROL STYLING */
/* VOLUME CONTROL STYLING */
input[type=range]#volume-control::-moz-range-track {
  width: 50px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--btn-bg-color);
  border-radius: 5px;
  border: 0.2px solid #010101;
}
input[type=range]#volume-control::-moz-range-thumb,
input[type=range]#video-progress::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  background: var(--text-color);
  cursor: pointer;
}
input[type=range]#video-progress::-moz-range-track {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;

}