---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

---



  <BaseLayout pageTitle={pageTitle}>
    <p>I'm Chelsea, and I am going totally vulnerable here.</p>
    <p>I know people tend to keep things seperate, but I have been trying for years to brand myself
         in a way that neatly categorizes everything I do. But the problem I run into is I end up people pleasing which hinders my creativity.
        So for my own mental health, and perhaps to your discomfort, here is all of me.</p>
    <h2>Professionally</h2>
        <h3><a>My Resume</a></h3>
        <p>{skills}</p>
        <p>Take a look!</p>
        <h3><a>My Articles and Podcast</a></h3>
        <p>I call them my multimedia articles.</p>
        <h3><a>Courses</a></h3>
        <p>These are things I've learned that I'd like to share with you.</p>
    <h2>Creatively</h2>
        <h3><a>My Music</a></h3>
        <p>I write music in all kinds of genres. My mainly write in odd meters because I think it's fun.</p>
        <h3><a>My Writing</a></h3>
        <p>My writing is anything from poetry and short stories, to full-blown novels, and the categories include 
            adventure, science fiction, and fantasy. I mostly write for adult audiences so romance and erotica are included.</p>
</BaseLayout>