---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Courses and Tutorials";

---

<BaseLayout pageTitle={pageTitle}>
<p>When I learn helpful things, I love sharing what I learned with people. Maybe you'll find it useful, too. Choose a category below, or browse the courses!</p>
<div><em>NOTE: Insert your category toolbar here.</em></div>
</BaseLayout>