---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Shop";
---

<BaseLayout pageTitle={pageTitle}>
    <p>I got some digital products here. Some ebooks, some audiobooks, music, etc.</p>


</BaseLayout>