---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Writing";
---

<BaseLayout pageTitle={pageTitle}>
    <section class="multimedia-articles-header">
           <div class="writing-categories">
            <div class="writing-links shorts"><a href="/">Shorts</a></div>
            <div class="writing-links novels"><a href="/">Novels</a></div>
            <div class="writing-links poetry"><a href="/">Poetry</a></div>
        </div>
    </section>

</BaseLayout>

<style>

.writing-links {
    height: 100%;
    border: 1px solid;
    padding: 5rem 4.5rem;
    margin: 0.25em;
    font-size: 2em;
    align-content: center;
    & a {
        color: black;
        text-decoration: none;
    }
}

.novels {
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #edc06a, #edc06a 50%, #f1d4a1 50%);
    background-size: 10px 10px;
}
.shorts {
    background-image:  radial-gradient(#edc06a 3px, transparent 3px), radial-gradient(#edc06a 1.5px, #f1d4a1 1px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
.poetry {
    background: repeating-linear-gradient( -45deg, #edc06a, #edc06a 5px, #f1d4a1 5px, #f1d4a1 25px );
}
</style>