<div class="logo-background">
<img src="../ailogo.png" alt="Acerbic Inq Logo">
</div>

<style>
    img {
        height: 4em;
        
    }
    .logo-background {
        display: inline-block;
    }
</style>