---
---
<footer>

  <nav>  
      <a href="https://github.com/acerbicinq/"><img src="/github-mark.svg" alt="github logo"></a>
      <a href="https://mastodon.social/@acerbicinq"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Font_Awesome_5_brands_mastodon.svg" alt="mastodon logo"></a>
      <a href="/">Home</a>
      <a href="mailto:contact@acerbicinq.com">Email Me</a>
   <!-- 
      <a href="privacy-policy.html">Privacy Policy</a>
      <a href="index.html" alt="search button">Search</a>
        -->
    <p id="copyright"></p>
  </nav>

</footer>

<script>
  document.getElementById("copyright").textContent = `© ${new Date().getFullYear()} Acerbic Inq`;

</script>