---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import AILogo from "./AILogo.astro";
---
<header>
    <AILogo />
    <nav>
       
       
        <ThemeIcon />
        <Hamburger />
        <Navigation />
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
/*    .hamburger {
    align-content: flex-end;
    justify-content: space-between;
    
    }
    .ailogo {
        align-self: start;
    }
*/
</style>