---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import AILogo from "./AILogo.astro";
---
<header>
    <nav>
        <AILogo />
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>
