---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/podcast/">Multimedia Articles</a>
    <a href="/courses/">Courses</a>
    <a href="/music/">Music</a>
    <a href="/writing/">Writing</a>
    <a href="/shop/">Shop</a>
    <a href="/tags/">Tags</a>
</div>
