---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 2em;;
      color: black;
      background-color: #f1d4a1;
      text-decoration: none;
    }
  </style>
  
  