     <button id="themeToggle">
        <div class="dot basedot"></div>
        <div class="dot lightdot"></div>
        <div class="dot darkdot"></div>
        </button> 

<style>
button {
    background: transparent;
    border: none;
}
.dot {
    padding: 13px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid black;
}
.basedot {
    background-color: #edc06a;
}
.lightdot {
    background-color: aliceblue;
}
.darkdot {
    background-color: #303030;
}
</style>