     <button id="themeToggle" class="theme-toggle" aria-label="toggle dark mode">
        <div class="dot lightdot"></div>
        <div class="dot darkdot"></div>
        </button> 

<style>
button {
    background: transparent;
    border: none;
}
.dot {
    padding: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1.5px solid black;
    cursor: pointer;
}

.lightdot {
    background-color: #edc06a;
}
.darkdot {
    background-color: #303030;
}
</style>